<div class="relative bg-white">
  <div class="absolute inset-0">
    <div class="absolute inset-y-0 left-0 w-1/2 bg-gray-50"></div>
  </div>
  <div class="relative mx-auto max-w-7xl lg:grid lg:grid-cols-5">
    <div class="bg-gray-50 py-16 px-6 lg:col-span-2 lg:px-8 lg:py-24 xl:pr-12">
      <div class="mx-auto max-w-lg">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Did you contract a service recently?</h2>
        <p class="mt-3 text-lg leading-6 text-gray-500"> Please feel the next form, leaving a review.</p>
      </div>
    </div>
    <div class="bg-white py-16 px-6 lg:col-span-3 lg:py-24 lg:px-8 xl:pl-12">
      <div class="mx-auto max-w-lg lg:max-w-none">
        <%= form_with model: @review, url: reviews_path, method: :post do |form| %>
          <div class="grid grid-cols-1 gap-y-6">
            <div>
              <%= form.label :name, class: "sr-only" %>
              <%= form.text_field :name, class: "block w-full rounded-md border-gray-300 py-3 px-4 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:ring-indigo-500", placeholder: "Full name", autocomplete: "name" %>
            </div>
            <div>
              <%= form.label :email, class: "sr-only" %>
              <%= form.email_field :email, class: "block w-full rounded-md border-gray-300 py-3 px-4 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:ring-indigo-500", placeholder: "Email", autocomplete: "email" %>
            </div>
            <div>
              <%= form.label :message, class: "sr-only" %>
              <%= form.text_area :message, class: "block w-full rounded-md border-gray-300 py-3 px-4 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:ring-indigo-500", placeholder: "How was your experience?", rows: 4 %>
            </div>
            <div>
              <%= form.label :rating, class: "sr-only" %>
              <%= form.select :rating, options_for_select([1, 2, 3, 4, 5]), {}, class: "block w-full rounded-md border-gray-300 py-3 px-4 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" %>
            </div>
            <div>
              <%= form.submit "Submit", class: "inline-flex justify-center rounded-md border border-transparent bg-gray-700 py-3 px-6 text-base font-medium text-white shadow-sm hover:bg-green-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
