<%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
    <h2 class="text-gray-800 text-3xl font-semibold"> about </h2>
    <p class="mt-2 text-gray-600">This are my about</p>
<% end %>

<%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
    <h2 class="text-gray-800 text-3xl font-semibold"> about </h2>
    <p class="mt-2 text-gray-600">This are my about</p>
<% end %>

<%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
    <h2 class="text-gray-800 text-3xl font-semibold"> about </h2>
    <p class="mt-2 text-gray-600">This are my about</p>
<% end %>

<%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
    <h2 class="text-gray-800 text-3xl font-semibold"> about </h2>
    <p class="mt-2 text-gray-600">This are my about</p>
<% end %>

<%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
    <h2 class="text-gray-800 text-3xl font-semibold"> about </h2>
    <p class="mt-2 text-gray-600">This are my about</p>
<% end %>
