<div class="flex flex-wrap">
  <%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg mb-10" do %>
    <div>
      <h2 class="text-gray-800 text-3xl font-semibold"> Projects </h2>
      <p class="mt-2 text-gray-600">This are my projects</p>
    </div>
  <% end %>

  <%= link_to home, class: "py-4 px-8 bg-white shadow-lg rounded-lg mb-10" do %>
    <div>
      <h2 class="text-gray-800 text-3xl font-semibold"> Projects </h2>
      <p class="mt-2 text-gray-600">This are my projects</p>
    </div>
  <% end %>

  <%= link_to home, class: "py-4 px-8 bg-white shadow-lg rounded-lg mb-10" do %>
    <div>
      <h2 class="text-gray-800 text-3xl font-semibold"> Projects </h2>
      <p class="mt-2 text-gray-600">This are my projects</p>
    </div>
  <% end %>

  <%= link_to home, class: "py-4 px-8 bg-white shadow-lg rounded-lg mb-10" do %>
    <div>
      <h2 class="text-gray-800 text-3xl font-semibold"> Projects </h2>
      <p class="mt-2 text-gray-600">This are my projects</p>
    </div>
  <% end %>

  <%= link_to home, class: "py-4 px-8 bg-white shadow-lg rounded-lg mb-10" do %>
    <div>
      <h2 class="text-gray-800 text-3xl font-semibold"> Projects </h2>
      <p class="mt-2 text-gray-600">This are my projects</p>
    </div>
  <% end %>
</div>
