
<main class="container mx-auto mt-14 px-5">
  <h1 class="text-3xl font-normal">Daniel Enqz Portfolio</h1>

  <div class="flex mt-10">
    <div class="mt-5 mr-20 flex flex-col">
      <p class="text-3xl font-bold mb-10">Hello, </p>
      <p class="text-3xl font-light hover:font-medium mb-5">Projects</p>
      <p class="text-3xl font-light hover:font-medium mb-5">Stack</p>
      <p class="text-3xl font-light hover:font-medium mb-5">About</p>
    </div>

    <div class="flex flex-wrap">
      <%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
          <h2 class="text-gray-800 text-3xl font-semibold"> Projects </h2>
          <p class="mt-2 text-gray-600">This are my projects</p>
      <% end %>

      <%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
          <h2 class="text-gray-800 text-3xl font-semibold"> Projects </h2>
          <p class="mt-2 text-gray-600">This are my projects</p>
      <% end %>

      <%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
          <h2 class="text-gray-800 text-3xl font-semibold"> Projects </h2>
          <p class="mt-2 text-gray-600">This are my projects</p>
      <% end %>

      <%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
          <h2 class="text-gray-800 text-3xl font-semibold"> Projects </h2>
          <p class="mt-2 text-gray-600">This are my projects</p>
      <% end %>

      <%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
          <h2 class="text-gray-800 text-3xl font-semibold"> Projects </h2>
          <p class="mt-2 text-gray-600">This are my projects</p>
      <% end %>

    </div>
  </div>
</main>
