<div data-controller="tabs">
  <%# First tab is active by default (meaning it has active tab colors and tab is not hidden) %>

  <%= render "tabs" %>

  <%= turbo_frame_tag "request_tab" do %>
    <div class="overflow-hidden bg-white py-16 px-1 lg:px-8 lg:py-20 item-animate" data-tabs-target="requestTab">
      <%= render partial: "requests/new", locals: {request: @request} %>
    </div>
  <% end %>


  <%= turbo_frame_tag "review_tab" do %>
    <div class="relative bg-white hidden" data-tabs-target="reviewTab">
      <%= render partial: "reviews/new", locals: {review: @review} %>
    </div>
  <% end %>
</div>
