<%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
    <h2 class="text-gray-800 text-3xl font-semibold">AirBnB Clone</h2>
    <p class="mt-2 text-gray-600">Date: Feb/2022</p>
    <div class="flex flex-wrap">
      <span class="bg-indigo-100 text-indigo-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900">Ruby on Rails</span>
      <span class="bg-indigo-100 text-indigo-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900">Postgres</span>
    </div>
    <p class="mt-1 text-gray-600">
      Design and Implementation with the collaboration between 2 peers of a working application
      deployed to heroku, where clients can publish "Music Studios" and other customers can
      book/rent them for a period of time.
    </p>
<% end %>

<%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
    <h2 class="text-gray-800 text-3xl font-semibold">Akord.me</h2>
    <p class="mt-2 text-gray-600">Date: March/2022</p>
    <div class="flex flex-wrap">
      <span class="bg-indigo-100 text-indigo-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900">Ruby on Rails</span>
      <span class="bg-indigo-100 text-indigo-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900">Postgres</span>
    </div>
    <p class="mt-1 text-gray-600">
      Design and Implementation with the collaboration between 2 peers of a working application
      deployed to heroku, where users can create events and friends and family can agree on date.
    </p>
<% end %>

<%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
    <h2 class="text-gray-800 text-3xl font-semibold">Iridia</h2>
    <p class="mt-2 text-gray-600">Date: May/2022</p>
    <div class="flex flex-wrap">
      <span class="bg-indigo-100 text-indigo-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900">Ruby on Rails</span>
      <span class="bg-indigo-100 text-indigo-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900">Postgres</span>
    </div>
    <p class="mt-1 text-gray-600">
      Application where users can publish their donations and other's can claim them.
    </p>
<% end %>

<%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
    <h2 class="text-gray-800 text-3xl font-semibold">Logs</h2>
    <p class="mt-2 text-gray-600">Date: June/2022</p>
    <div class="flex flex-wrap">
      <span class="bg-indigo-100 text-indigo-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900">Ruby on Rails</span>
      <span class="bg-indigo-100 text-indigo-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900">Postgres</span>
    </div>
    <p class="mt-1 text-gray-600">
      Application where companies can manage working time for specific tasks of their employees.
    </p>
<% end %>

<%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
    <h2 class="text-gray-800 text-3xl font-semibold">Masks+</h2>
    <p class="mt-2 text-gray-600">Date: June/2020</p>
    <div class="flex flex-wrap">
      <span class="bg-indigo-100 text-indigo-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900">Ruby on Rails</span>
      <span class="bg-indigo-100 text-indigo-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900">Postgres</span>
    </div>
    <p class="mt-1 text-gray-600">
      Mobile application in which users can order face masks and customize them. Made in MIT App Inventor.
    </p>
<% end %>
