<div class="flex flex-wrap absolute left-40 md:left-60 ">
  <%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
      <h2 class="text-gray-800 text-3xl font-semibold"> AirBnB Clone </h2>
      <p class="mt-2 text-gray-600">Date: Feb/2022</p>
  <% end %>

  <%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
      <h2 class="text-gray-800 text-3xl font-semibold">Akord.me</h2>
      <p class="mt-2 text-gray-600">Date: March/2022</p>
  <% end %>

  <%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
      <h2 class="text-gray-800 text-3xl font-semibold">Iridia</h2>
      <p class="mt-2 text-gray-600">Date: May/2022</p>
  <% end %>

  <%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
      <h2 class="text-gray-800 text-3xl font-semibold">Logs</h2>
      <p class="mt-2 text-gray-600">Date: June/2022</p>
  <% end %>

  <%= link_to home_path, class: "py-4 px-8 bg-white shadow-lg rounded-lg m-5" do %>
      <h2 class="text-gray-800 text-3xl font-semibold">Masks+</h2>
      <p class="mt-2 text-gray-600">Date: June/2020</p>
  <% end %>
</div>
