<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Daniel Enqz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Daniel Enqz portfolio">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container relative mx-auto mt-7 xl:mt-14 px-5">
      <div class="fixed top-16 inset-x-5 md:inset-x-40 lg:inset-x-80 z-50">
        <%= render partial: "shared/flash_messages", locals: { flash: flash } %>
      </div>
      <%= render 'shared/desktop_breadcrumb' %>
      <div class="mt-10 h-screen grid content-start">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
